body

 {
    background-image: url(../img/gplaypattern.png);
    background-repeat: inherit;
 }

.nav {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    height: 60px;
         
}

header::after {
    content: '';
    display: table;
    clear: both;

    /*https://www.youtube.com/watch?v=FEmysQARWFU helped to fix div background color dissapearing after changing the float of nav bar items, by using css pseudo ::after element */
}

nav ul {
    margin: 0;
    list-style: none;
    float: right;
    display: flex;

    /* used link below to learn how to fix nav bar elements being in th wrong order https://stackoverflow.com/questions/67432376/why-are-the-nav-bar-links-in-the-wrong-order */
    
}

nav li {
   float: right;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 40px;
   padding-right: 40px;
   text-align: center;
   font-weight: 500;
}
nav a {
    text-decoration: none;
    color:  rgb(65, 60, 61);
    font-size: 20px;
    position: relative;
}

/*https://www.youtube.com/watch?v=FEmysQARWFU used this video to make a hover over animation using pseudo class elements */

nav a:hover {
    color: rgb(189, 8, 8);
}

nav a::before {
    content: '';
    display: block;
    height: 3px; 
    background-color: rgb(189, 8, 8);

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;

}

#intro {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    width: 40%;
    padding: 5px;
    size: 300px;
    text-align: left;
    padding-left: 15px;
    /* used a code from https://blog.hubspot.com/website/center-div-css to center the div on the page 
    used a tip from https://www.tutorialrepublic.com/faq/css-background-opacity-without-effecting-the-child-elements.php to fix background opacity withouth aftecting text */
    font-family: Calibri; 
    font-size: 50px;
    font-weight: 350;
    color:  rgb(65, 60, 61);
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    height: 300px;
    
}

span {
    font-family: Calibri;
    font-size: 60px;
    font-weight: 400;
    color: rgb(189, 8, 8);
    text-align: left;
}

.flex-container-home {
    position: absolute;
    top: 65%;
    left: 40%;
    right: 40%;
    width: 20%;
    height: 50px;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.flex-container-about {
    position: relative;
    height: 700px;
    width: 96%;
    padding: 40px;
    align-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about {
    height: 600px;
    width: 400px;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    padding: 20px;
    border: rgb(65, 60, 61) solid 1px;       
}

.img-about {
    height: 600px;
    width: 400px;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    padding: 20px;
    background-image: url(../img/img-about.jpg);
    border: rgb(65, 60, 61) solid 1px;
}

#about-me {
    font-family: Calibri; 
    font-size: 20px;
    color:  rgb(65, 60, 61);
    text-align: justify;
}

.about-skills {
    font-family: Calibri; 
    font-size: 20px;
    color: rgb(65, 60, 61);
    margin: 20px;
}
.flex-container-portfolio {
    position: relative;
    height: 700px;
    width: 98%;
    padding: 20px;
    align-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio {
    height: 300px;
    width: 450px;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    padding: 20px;
    border: rgb(65, 60, 61) solid 1px;       
}

footer {
    position: absolute;
    top: 95%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 20px;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    color: rgb(65, 60, 61);
    text-align: center;
    font-size: 16px;
    font-family: Calibri;
}
